.about 
{
margin: 100px auto;
display: flex;
align-items: center;
justify-content: space-between;

}

.aboutL
{
    flex-basis: 40%;
    position: relative;

}
.aboutR
{
    flex-basis: 56%;
}
.fimage 
{
    width: 100%;
    border-radius: 10px;
}
.simage{
    width: 60px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}