.campus
{
    margin:80px auto;
width :90%;


}
.gallery
{

    display:  flex;
    align-items: center;
    justify-content: space-between;
    
}
.gallery img 
{
    flex-basis: 23%;
    border-radius: 30px;
    
}